@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:700&display=swap');
@import './variables';

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

html {
  font-size: calc(0.5em + 0.5vw);
  body {
    font-family: 'Montserrat';
  }
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
