@import '../../../assets/scss/_variables.scss';

.js-title {
  font-weight: 900;
  font-size: 3.7em;
  margin: auto;
  margin-bottom: 2rem;
  padding-bottom: 1.7rem;
  padding-top: 0.5rem;
  max-width: 500px;
  line-height: 1.8em;
  border-bottom: 5px solid $primary;
}

@media screen and (max-width: 991px) {
  .js-title {
    max-width: 250px;
  }
}
