@import '../../assets/scss/_variables.scss';

footer {
  padding: 2rem;

  h3 {
    margin-bottom: 1.3rem;
  }

  .item {
    margin-bottom: 1rem;
    align-items: center;
    a {
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 425px) {
    .item {
      a {
        font-size: 1.6em;
      }
    }
  }
}

.copyright-text {
  padding: 0.5rem 0;
}
